@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
}

.container_main {
  height: 100vh;
  width: 100%;
  background-image: url('/assets/site/mapblue.jpg');
  background-position: center center;
  background-size: cover;
}

.img_container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  align-self: flex-start;
}

.container_info {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(94, 92, 92);
  height: 100vh;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}

.header {
  font-family: "Game of Thrones";
  padding: 25px;
}

.container_footer {
  padding: 0 0 25px 0;
}

.search-input {
  background-color: white;
  padding: 5.5px 15px 5.5px 5.5px;
  border-radius: 3px;
}

.search-btn {
  padding: 4.5px 8px 4.5px 8px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgb(94, 92, 92);
  color: white;
 } 

 .search-input:hover, .open-btn:hover {
  cursor: pointer;
 }

 .fa-magnifying-glass {
  color: black;
 }

 .name {
  font-size: 20px;
  font-weight: bold;
 }
